body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

/* Navbar */
.navbar{
    height: 5rem;
    background-color: white !important;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}

/* footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-socials{
    font-size: 1.2rem;
}

.f-info{
    height: 5rem;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Card */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text{
    font-weight: 400 !important;
}
img{
     border-radius: 1rem !important;
}
a{
    text-decoration: none !important;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white !important;
}
/* New Page */

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Edit page */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Show page */
.show-card{
    border: none;
}

.show-img{
    width: 100%;
    height: 18rem;
    object-fit: cover;
    border-radius: 1rem;
}
.show-btn{
    color: white !important;
}
.show-div{
    display: flex;
}

.show-edit{
    background-color: #fe424d !important;
    border: none !important;
    padding: 7px 30px 7px 30px !important;
    margin-right: 2rem;
}

/* SignUp page */
.signup {
    color: white !important;
    background-color: #fe424d !important;
}

/* Navbar */
/* Mobile Navbar Only */
@media (max-width: 767px) {
    .navbar-collapse{
        background-color: white;
        padding: 1rem;
        border-radius: 0.5rem;
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
    }
}
/* Map */
#map {
    height: 400px;
    width: 100%;
    border-radius: 0px;
}